.hero-banner {
    min-height: 277px;
    padding-top: 70px;
    padding-bottom: 70px;
    align-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px;
    position: relative;
}

.title h1 {
    color: var(--text-white);
    font-size: 44px;
    font-weight: 700;
    margin: 0;
}

.breadcrumbs a, .breadcrumbs p {
    color: var(--text-white);
    text-decoration: none;
    font-weight: 200;
    margin-bottom: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 15, 88, 0.5); 
}

.hero-banner .container {
    position: relative;
    z-index: 1;
}