.copa-page .box {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 234px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    border-radius: 20px;
}

.copa-page .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: space-around;
    padding: 32px 24px;
}
.copa-page .overlay h3, .card-container h3 {
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}

.copa-page .card-container {
    border: 1px solid #D3D3D3;
    background-color: #FCFCFC;
    padding: 32px 24px;
    border-radius: 20px;
    height: 248px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (max-width: 991px) {
    .copa-page .card-container {
        height: 300px;
    }
}

@media (max-width: 767px) {
    .copa-page .card-container {
        height: auto;
    }
}

.selection-container {
    background-color: #F8FDFF;
    border: 1px solid #D3D3D3;
    border-radius: 20px;
    padding: 32px;
    text-align: center;
}


.selection-container h3 {
    font-size: 18px;
    font-weight: 700;
}