.policy-commission {
    background-color: #f1f1f1;
    padding: 48px 0px 48px 0px;
}

.policy-timeline {
    background-color: #E1F3F8;
    padding: 48px 0px 48px 0px;
}

.sub-footer {
    background-color: #6EC1E4;
    padding: 48px 0px 48px 0px;
}

.sub-footer p {
    text-align: center;
    color: var(--text-white);
}

.media-library {
    text-align: center;
    padding: 90px 0;
}